#navbar {
    font-family: 'Russo One', sans-serif;
    background-color: $navigation-bg-color;
    padding: 0px;

    .navbar-brand {
        font-size: 1.8rem;
    }

    .nav-item {
        &:hover {
            background-color: $navigation-hover-color;
        }
    }

    .nav-link {
        font-size: 1.2rem;
    }
}