nav.navbar {
    font-family: 'Russo One', sans-serif;
    background-color: $navigation-bg-color;
    padding: 0px;

    // Toggler button
    .navbar-toggler {
        position: unset;
        float: right;
        margin-top: 10px;
        cursor: pointer;
        border-color: white !important;

        .hamburger {
            font-size: 30px;
        }
    }

    // Logo
    .navbar-brand {
        padding: 0px;

        #logo {
            font-size: 40px;

            // dev suffix in logo
            span {
                color: $logo-suffix-color;
                margin-left: 2px;
            }
        }
    }

    // Menu list
    #nav-menu ul li {
        font-size: 25px;

        &:hover {
            background-color: $navigation-hover-color;
        }

        @media screen and (max-width: $lg - 1) {
            padding-left: 20px;
        }
    }
}