.shadow-br {
    -webkit-box-shadow: 16px 16px 16px rgba(0,0,0,.16);
    box-shadow: 16px 16px 16px rgba(0,0,0,.16);
}

.shadow-bl {
    -webkit-box-shadow:-16px 16px 16px rgba(0,0,0,.16);
    box-shadow:-16px 16px 16px rgba(0,0,0,.16)
}