// Grid breakpoints
$xs: 0; // Extra small screen / phone
$sm: 576px; // Small screen / phone
$md: 768px; // Medium screen / tablet
$lg: 992px; // Large screen / desktop
$xl: 1200px; // Extra large screen / wide desktop

// Colors
$body-bg-color: #34495e;
$navigation-bg-color: #674172;
$navigation-hover-color: #754b82;
$about-bg-color: $body-bg-color;
$skills-bg-color: #4B6946;
$work-bg-color: #3b6a92;
$contact-placeholder-color: lightgray;
$contact-button-hover-color: #34495e;
$footer-bg-color: #674172;
$quote1-bg-color: sienna;
$quote2-bg-color: #c0392b;
$quote3-bg-color: #7E4C2B;

// Paths
$images-path: 'images/';

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

body {
    background-color: $body-bg-color;
    color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', 'Open Sans', sans-serif;
}

.heading-number {
    font-size: 0.8em;
}

@import "about";
@import "contact";
@import "footer";
@import "hero";
@import "navigation";
@import "quotes";
@import "skills";
@import "utils";
@import "work";